{% extends "layout.html" %}

{% block title %}
    Portfolio
{% endblock %}

{% block main %}
<table class="table table-striped">
    <thead>
        <tr>
            <th>Symbol</th>
            <th>Name</th>
            <th>Shares</th>
            <th>Price</th>
            <th>TOTAL</th>
        </tr>
    </thead>
    <tbody>
        {% for trade in holdings %}
            <tr>
                <td>{{ trade["symbol"].upper() }}</td>
                <td>{{ trade["name"] }}</td>
                <td>{{ trade["SUM(shares)"] }}</td>
                <td>{{ trade["price"]| usd }}</td>
                <td>{{ trade["SUM(total)"]| usd }}</td>
            </tr>
        {% endfor %}
        <tr>
            <!-- Added 4 blank cells because the colspan="4" attribute isn't formatting correctly in the table -->
            <td>CASH</td>
            <td></td>
            <td></td>
            <td></td>
            <td>{{ cash | usd}}</td>
        </tr>
    </tbody>
    <tfoot>
        <tr>
            <td colspan="4"></td>
            <td><strong>{{ grand_total | usd}}</strong></td>
        </tr>
    </tfoot>
</table>
{% endblock %}